<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/static/css/index.css' rel='stylesheet' type='text/css'>
  <title>NLP Project</title>
</head>
<body>
  <br>
  <center class="container">
    <h1>
      COVID-19 Fake News Detector <br>
      <small>Developed by José David Nieto, Juan Carlos Gama, and Viviana Sofía Murillo.</small> <br>
    </h1>
    <br>
    <textarea name="text-input" id="news-input" placeholder="Place your news text here..."></textarea>
  </center>
</body>
</html>